* { margin: 0; padding: 0;}

body { display: flex; flex-direction: column; justify-content: center; align-items: center; }

.game_header {width: 120%; height: 60px; background: #9575CD; color: #fff; text-align: center; padding: 1rem; margin-bottom: 5rem;}

.word-display { font-size: 80px; color: #9E9E9E; margin-bottom: 5rem;}

.word-input{ padding:0.5rem; width: 300px;  margin-bottom: 3rem;}

.game-info { font-size: 0.8rem; display: flex; justify-content: space-between;}

.time, .score { font-size: 30px; margin-bottom: 10px;}

.button{ width: 200px; height: 35px; background-color:#9575CD; color: #fff; border: none; margin-top: 3rem; cursor: pointer; text-align: center;}

.loading { background-color: #ccc; cursor: not-allowed; text-align: center;}


/* 반응형 */
@media all and (min-width: 480px) {
.game_header { width: 480px; }
}