
/* 안녕자두야 테스트 css */

article { display: flex; flex-direction: column;}

#img { width: 300px; height: 300px;  margin: 0 auto;}

.Enter_question { display: none;}

.result { display: none;}

#Enter_mbti_img { width: 300px; height: 300px; margin: 0 auto; }

.Enter_image { width: 100%; height: 400px; background-color: #ddd; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}

.Enter_jadoo_test_title { width: 100%; height: 50px; font-size: 1.5em; text-align: center; border-bottom: 1px solid #ddd; }

#Enter_title { font-size: 1.7em; line-height: 30px; padding:70px 0px 50px 0px;}

#Enter_explain { text-align: left; }

#Enter_title_explain { font-size: 1.5em;}

.Enter_jadoo_title { width: 100%; height: 50px; font-size: 1.5em; text-align: center; border-bottom: 1px solid #ddd; }

.share { margin: 0 auto;}

.Enter_page { margin-bottom: 10px;}



/* Enter_animal_test */

.ani_question { display: none; }

#img { width: 300px; height: 300px; margin: 0 auto; }

.Enter_ani_test_title { width: 100%; height: 50px; font-size: 1.7em; text-align: center; border-bottom: 1px solid #ddd; }

#ani_title { font-size: 1.7em; line-height: 30px; padding:70px 0px 50px 0px;}

.Enter_ani_image { width: 100%; height: 400px; background-color: #ddd; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }

/* Enter_trip_test */

.Enter_trip_test_title { width: 100%; height: 50px; font-size: 1.5em; text-align: center; border-bottom: 1px solid #ddd; }

#trip_title { font-size: 1.7em; line-height: 30px; margin:70px 0px 50px 0px; }

.trip_question { display: none; }

.share { margin: 0 auto; }

.Enter_page { margin-bottom: 10px;}

.Enter_trip_image { width: 100%; height: 400px; background-color: #ddd; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }
