<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>관리자 페이지</title>
    <script type="text/javascript">
        $(function () {
            $(".userDrop").click(function () {
                const dropId = $(this).data("user");
                console.log(dropId);
                $.ajax({
                    type: 'GET',
                    url: '/dropId',
                    data: {
                        mb_id: dropId,
                    },
                    success: function(data) {
                        alert("해당 회원이 강제 탈퇴처리 되었습니다.");
                        location.reload();
                    }, error: function (status, error) {
                        console.log('에러발생!!');
                        console.log(status, error);
                    }
                })
            })
        });
    </script>
</head>
<body>

    <h1>회원 리스트</h1>
    <table border="1">
        <thead>
        <tr>
            <th>회원 고유번호</th>
            <th>회원 이름</th>
            <th>회원 아이디</th>
            <th>회원 닉네임</th>
            <th>회원 이메일</th>
            <th>회원 주소</th>
            <th>회원 성별</th>
            <th>전문가 여부</th>
            <th>가입일자</th>
            <th>회원 강제탈퇴</th>
        </tr>
        </thead>

        <tbody>
        <!-- tr th:each : 행 반복문을 수행하겠다는 의미입니다 [여러 데이터 출력] -->
        <tr th:each="list : ${memberlist}">
            <td><span th:text="${list.mb_seq}"></span></td>
            <td><span th:text="${list.mb_name}"></span></td>
            <td><span th:text="${list.mb_id}"></span></td>
            <td><span th:text="${list.mb_nick}"></span></td>
            <td><span th:text="${list.mb_email}"></span></td>
            <td><span th:text="${list.mb_addr}"></span></td>
            <td><span th:text="${list.mb_sex}"></span></td>
            <td><span th:text="${list.mb_doctor}"></span></td>
            <!--<td><fmt:formatDate pattern="yyyy-MM-dd HH:mm" value="${list.reg_date}"/></td>-->
            <td><span th:text="${#dates.format(list.reg_date, 'yyyy-MM-dd')}"></span>
            <td><button type="button" id="userDrop" class="userDrop" data-user="${list.mb_id}">탈퇴 시키기</button></td>
        </tr>
        </tbody>
    </table>

</body>
</html>