<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>서브페이지_b</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/static/css/fixed/header.css"> <!-- 헤더 -->
    <link rel="stylesheet" type="text/css" href="/static/css/fixed/footer.css"> <!--푸터-->
    <link rel="stylesheet" type="text/css" href="/static/css/event/event_detail.css">

    <script type="text/javascript" src="/templates/includeHtml.js"></script>
</head>

<body>
    <!--부트스트랩 스크립트 설정-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <!-- col-함수의 경우 기본적으로 padding-left.right 값이 들어가더라구!
        그래서 그냥 최상위 부모한테는 max-width: 1330px;만 줘도 될 거 같아!
        대신 다른 요소에서 col-함수 사용하면 css로 padding값 초기화 시켜주면 될 거 같아~! -->

    <!--화면 구조 설계-->
    <header data-include-path="/templates/fixed/header/header.html"></header>

    <div class="col-12">
        <div id ="event-container">
            <div id="event_top">독서 감상 대회</div>
        </div>


        <div class="event-detail-main">
            <input type="radio" id="tab-1" name="show" checked/>
            <input type="radio" id="tab-2" name="show" />
            <div class="tab">
                <label for="tab-1">참여하기</label>
                <label for="tab-2">다른사람들의 참여내역</label>
            </div>
            <div class="event-detail-content">
                <div class="content-dis">
                    참여하기
                </div>
                <div class="content-dis">
                    다른사람들의 참여냐역
                </div>
            </div>

    <footer data-include-path="/templates/fixed/footer/footer.html"></footer>
        </div>
    </div>
</body>
</html>