<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <script src="/templates/jquery-3.6.0.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/> <!-- 스와이퍼 -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/static/css/fixed/header.css"> <!-- 헤더 -->
    <link rel="stylesheet" type="text/css" href="/static/css/fixed/footer.css"> <!--푸터-->
    <link rel="stylesheet" type="text/css" href="/static/css/main/main.css">
    <script type="text/javascript" src="/templates/includeHtml.js"></script>
</head>
<body>
<header data-include-path="/22_ig031/src/main/resources/templates/fixed/header/header.html"></header>
<div class="col-12 main">
    <div class="col-12 search-wrap mb">
        <div class="board-content-search">
            <div class="selectbox">
                <button type="button" class="bt-select">
                    <span>제목</span><i class="ico"></i></button>
                <ul class="box_eft_00">
                    <li><a href="#">제목</a></li>
                    <li><a href="#">제목+본문</a></li>
                    <li><a href="#">작성자</a></li>
                </ul>
            </div>
            <div class="tagsearch">
                <input type="text" id="searchText" class="box_eft_01" placeholder="검색어를 입력하세요." autocomplete="off">
                <button class="bt-submit"></button>
            </div>
        </div>
    </div>
    <div class="col-12 mainvisual_wrap mb">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" onclick="location.href='/22_ig031/src/main/resources/templates/notice/notice.html'">>공지사항 (ver.22/12/31)</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="col-12 second_row_wrap mb">
        <div class="col-12 col-md-6 location_wrap">위치api 연결</div>
        <div class="col-12 col-md-6 user_wrap">
            <form action="" method="post">
                <input class="box_eft_01" type="text" name="username" placeholder="이메일 입력해주세요">
                <input class="box_eft_01" type="password" name="password" placeholder="비밀번호">
                <button type="submit" class="btn box_eft_02">로그인</button>
                <div class="col-12">
                    <div class="col-8 user_id_pass">
                        <a href="">아이디 찾기</a>
                        <a href="">비밀번호 찾기</a>
                    </div>
                    <div class="col-4 new_user"><a href="">회원가입</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
<section class="col-12 sub_swiper_wrap mb">
        <canvas id="nigthSky"></canvas>
        <div class="col-12 col-md-8 sub_swiper_con"><!-- https://lpla.tistory.com/149 -->
            <div class="col-6 sub_swiper_list">
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                        <!-- 이미지로 넣으면 x -->
                        <div class="swiper-slide slide01">
                            <div class="col-12 swiper_title" onclick="location.href='https://www.youtube.com/watch?v=VyEJs-u3Wyk';">
                                오늘 하루 <br class="br_hidden"><span class="music">추천곡</span>을<br>들으면서 시작해보면 어떨까요?
                            </div>
                        </div>
                        <div class="swiper-slide slide02">
                            <div class="col-12 swiper_title" onclick="location.href='https://www.youtube.com/watch?v=yiS5jtvH0zU';">
                                요즘은 <span class="dog">OOO</span>를<br>보고 <i>"힐링"</i>한다구!
                            </div>
                        </div>
                        <div class="swiper-slide slide03">
                            <div class="col-12 swiper_title">
                                Q. 요즘 유행하는 <span>당근게임</span> 들어봤어?
                            </div>
                        </div>
                        <div class="swiper-slide slide04">
                            <div class="col-12 swiper_title">
                                흐엉 아이디어 고갈
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div class="col-12 main">
    <div class="col-12 wiseSaying_wrap mb">
        <div class="col-3 title">오늘의 명언</div>
        <div class="col-9 wiseSaying_con">명언 연결</div>
    </div>

    <div class="col-12 community_wrap mb">
        <div class="col-12 col-lg-7 moble_mb">
            <div class="col-12 community_normal box_eft_00">
                <ul class="col-12 main_community_menu">
                    <li class="box_eft_01 mb active">일상</li>
                    <li class="box_eft_01 mb">취미</li>
                    <li class="box_eft_01 mb">유머</li>
                    <li class="box_eft_01 mb">음식</li>
                    <li class="box_eft_01">정보</li>
                    <li class="box_eft_01">취업/진로</li>
                    <li class="box_eft_01">기타</li>
                    <span></span>
                </ul>
                <div class="content_table">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th style="width: auto;">제목</th>
                            <th style="width: 10%;">댓글수</th>
                        </tr>
                        </thead>
                        <tbody id="main_community_table"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 pl">
            <div class="col-12 community_editor box_eft_00">
                <div class="col-12 community_menu" id="community_menu_02">에디터 칼럼</div>
                <div class="content_table">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th style="width: auto;">제목</th>
                            <th style="width: 10%;">댓글수</th>
                        </tr>
                        </thead>
                        <tbody id="main_editor_table"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 advice_wrap">
        <ul style="margin-bottom: 15px;">
            <li class="col-0 col-md-3 box_eft_02" onclick="location.href='/22_ig031/src/main/resources/templates/advice/advice.html';">일반고민</li>
            <li class="col-0 col-md-3 box_eft_02" onclick="location.href='/22_ig031/src/main/resources/templates/advice/advice.html';">대인관계/가족</li>
            <li class="col-0 col-md-3 box_eft_02" onclick="location.href='/22_ig031/src/main/resources/templates/advice/advice.html';">정신건강</li>
        </ul>
        <ul>
            <li class="col-0 col-md-3 box_eft_02" onclick="location.href='/22_ig031/src/main/resources/templates/advice/advice.html';">직장</li>
            <li class="col-0 col-md-3 box_eft_02" onclick="location.href='/22_ig031/src/main/resources/templates/advice/advice.html';">성소수자</li>
            <li class="col-0 col-md-3 box_eft_02" onclick="location.href='/22_ig031/src/main/resources/templates/advice/advice.html';">여성</li>
        </ul>
    </div>
</div>
<div class="col-12 fixed" id="fixed">
    <div class="comment" id="fixed_comment">
        <a href="https://www.youtube.com/watch?v=RwJ2TBB43lM">챗봇 상담하러 가기(클릭)</a>
    </div>
</div>
<footer data-include-path="/22_ig031/src/main/resources/templates/fixed/footer/footer.html"></footer>

<script type="text/javascript" src="/22_ig031/src/main/resources/templates/main/js/main.js"></script>
<script type="text/javascript" src="/22_ig031/src/main/resources/templates/fixed/footer/js/footer.js"></script>
</body>
</html>