<!doctype html>
<html lang=ko>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/common.css"> <!-- 공통 css -->
    <script type="text/javascript" src="/22_ig031/src/main/resources/static/js/main/main.js"></script>
    <script type="text/javascript" src="/22_ig031/src/main/resources/templates/includeHtml.js"></script>
</head>
<body>
    <header data-include-path="/22_ig031/src/main/resources/templates/fixed/header/header.html"></header>

    메인

    <footer data-include-path="/22_ig031/src/main/resources/templates/fixed/footer/footer.html"></footer>
</body>
</html>