<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/mypage/mypage.css">
    <script type="text/javascript" src="/22_ig031/src/main/resources/templates/mypage/js/mypage.js"></script>
    <script type="text/javascript" src="/22_ig031/src/main/resources/templates/includeHtml.js"></script>
</head>
<body>
<header data-include-path="/22_ig031/src/main/resources/templates/fixed/header/header.html"></header>

    <div class="col-12 mypage">
        <div class="col-12 title" style="float: left">
            <bottom type="radio" id="tab_0" name="menu_tab" value="0" onclick="showMenu(this)">
                내정보
            </bottom>
        </div>
        <div class="col-12 mypage_con">
            <!--왼쪽 메뉴
            TODO: 992px 미만일 때는 display: none 처러, 상단에 클릭하면 펼쳐지는 메뉴로 빼야하나?
                -> 그럴 경우에는 메뉴 div를 2개 만들어야 함. -->
            <div class="col-3 mypage_menu">
                <div class="menu_title">활동내역</div>
                <bottom type="radio" id="tab_1" name="menu_tab" value="1" onclick="showMenu(this)">이벤트 참여내역</bottom>
                <bottom type="radio" id="tab_2" name="menu_tab" value="2" onclick="showMenu(this)">커뮤니티 사용내역</bottom>
                <bottom type="radio" id="tab_3" name="menu_tab" value="3" onclick="showMenu(this)">위치기반 사용내역</bottom>
                <bottom type="radio" id="tab_4" name="menu_tab" value="4" onclick="showMenu(this)">테스트 결과 내역</bottom>
                <div class="menu_title mt">정보변경</div>
                <bottom type="radio" id="tab_5" name="menu_tab" value="5" onclick="showMenu(this)">비밀번호 변경</bottom>
                <bottom type="radio" id="tab_6" name="menu_tab" value="6" onclick="showMenu(this)">닉네임 변경</bottom>
                <bottom type="radio" id="tab_7" name="menu_tab" value="7" onclick="showMenu(this)">프로필 사진 변경</bottom>
                <bottom type="radio" id="tab_8" name="menu_tab" value="8" onclick="showMenu(this)">회원탈퇴</bottom>
            </div>

            <!-- 오른쪽 컨텐츠-->
            <div class="col-12 col-lg-9 content">
                <!-- 1. 내정보 [main] -->
                <div class="col-12 content_box" id="tab_0_content" style="display: block;"> <!--id="tab_1_content"-->
                    <article class="col-12 col-md-6 content_left">
                        <section class="top">
                            <!-- TODO: 프로필 사진 변경 문구의 경우 프로필 사진이 없는 경우에만 출력
                            / https://doolyit.tistory.com/204
                            / 근데 닉네임 변경 페이지가 있는데 굳이 이 부분이 필요할까? -->
                            <div class="col-4 photo">
                                <div class="image-upload" id="image-upload">
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="button">
                                            <label for="chooseFile">
                                                프로필 바꾸기
                                            </label>
                                        </div>
                                        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
                                    </form>
                                    <div class="fileContainer">
                                        <div class="fileInput">
                                            <p>FILE NAME: </p>
                                            <p id="fileName"></p>
                                        </div>
                                        <div class="buttonContainer">
                                            <div class="submitButton" id="submitButton">SUBMIT</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="image-show" id="image-show"></div>
                            </div>
                            <ul>
                                <li>닉네임(변수로 교체)</li>
                                <li>포인트(변수로 교체)</li>
                            </ul>
                        </section>
                        <section class="col-12 calender">
                            <div class="col-12 sub_title">출석체크 현황</div>
                            <div class="col-6 today">5.30 (출력형식)</div>
                            <div class="col-6 today_complete">출석 완료</div>
                            <div class="sub_calender" id="calendarForm"></div>
                        </section>
                    </article>
                    <article class="col-12 col-md-6 content_right">
                        <div class="col-12 sub_title">오늘의 날씨</div>
                        <section class="col-12 weather_api">날씨 api</section>
                        <section class="col-12 weather_list">
                            <ul class="col-6">
                                <li>강수확률<span>값</span></li>
                                <li>북서풍<span>값</span></li>
                                <li>미세<span>값</span></li>
                                <li>일몰<span>값</span></li>
                            </ul>
                            <ul class="col-6">
                                <li>체감<span>값</span></li>
                                <li>습도<span>값</span></li>
                                <li>초미세<span>값</span></li>
                                <li>체감<span>값</span></li>
                            </ul>
                        </section>
                    </article>
                </div>
                <!-- 2. 내정보 [활동내역 - 이벤트 참여내역]-->
                <div class="col-12 content_box" id="tab_1_content">이벤트 참여내역</div>
                <!-- 3. 내정보 [활동내역 - 커뮤니티 참여내역]-->
                <div class="col-12 content_box" id="tab_2_content">커뮤니티 참여내역</div>
                <!-- 4. 내정보 [활동내역 - 위치기반 참여내역]-->
                <div class="col-12 content_box" id="tab_3_content">위치기반 참여내역</div>
                <!-- 5. 내정보 [활동내역 - 테스트 참여내역]-->
                <div class="col-12 content_box" id="tab_4_content">테스트 참여내역</div>
                <!-- 6. 내정보 [정보변경 - 비밀번호 변경]-->
                <div class="col-12 content_box" id="tab_5_content">
                    <div class="col-12">로그인 기획 확인 필요</div>
                    <form action="/user/login" method="post">
                        <input type="text" name="username" placeholder="이메일 입력해주세요">
                        <input type="password" name="password" placeholder="비밀번호">
                        <button type="submit">로그인</button>
                    </form>
                    <!-- TODO: 참고 사이트 https://choco4study.tistory.com/63-->
                </div>
                <!-- 7. 내정보 [정보변경 - 닉네임 변경]-->
                <div class="col-12 content_box" id="tab_6_content">
                    <input type="text" name="username" placeholder="기존 닉네임 가져오기">
                    <button type="submit">변경하기</button>
                </div>
                <!-- 8. 내정보 [정보변경 - 프로필 사진 변경]-->
                <div class="col-12 content_box" id="tab_7_content">프로필 사진 변경-메인에 넣은거 아이디 값만 바꿔서 넣기</div>
                <!-- 9. 내정보 [정보변경 - 비밀번호 변경]-->
                <div class="col-12 content_box" id="tab_8_content">
                    회원 탈퇴의 경우 재로그인해서 확인하기<br/>
                    <input type="text" name="username" placeholder="이메일 입력해주세요">
                    <input type="password" name="password" placeholder="비밀번호">
                    <button type="submit">로그인</button>
                    <!-- TODO: 회원탈퇴 및 다른 부분 스프링 참고하기-->
                </div>
            </div>
        </div>
    </div>

<footer data-include-path="/22_ig031/src/main/resources/templates/fixed/footer/footer.html"></footer>
</body>
</html>