<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <script type="text/javascript" src="/jquery-3.6.0.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/css/fixed/header.css"> <!-- 헤더 -->
    <link rel="stylesheet" type="text/css" href="/css/fixed/footer.css"> <!--푸터-->
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css">
    <script type="text/javascript" src="/includeHtml.js"></script>
    <script type="text/javascript" src="/js/mypage.js"></script>
</head>
<body>
<header data-include-path="/fixed/header/header.html"></header>

<div class="col-12 mypage">
    <div class="col-12 title" style="float: left">
        <a class="col-12" id="tab_0" name="menu_tab" onclick="location.href='/mypage/mypage.html'">내정보</a>
    </div>
    <div class="col-12 mypage_con">
        <!--왼쪽 메뉴 -->
        <div class="col-12 col-lg-3 mypage_menu">
            <button type="button" class="col-12 mobile_title" onclick="mobile_menu()">메뉴<span>&gt;</span></button>
            <div class="col-0 menu_list mt">
                <div class="menu_title">활동내역</div>
                <ul>
                    <li class="col-12" onclick="location.href='/mypage/mypage_01.html'">이벤트 참여내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_02.html'">커뮤니티 사용내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_03.html'">위치기반 사용내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_04.html'">테스트 결과 내역</li>
                </ul>
            </div>
            <div class="col-0 menu_list">
                <div class="menu_title mt">정보변경</div>
                <ul>
                    <li class="col-12" onclick="location.href='/mypage/mypage_05.html'">비밀번호 변경</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_06.html'">닉네임 변경</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_07.html'">프로필 사진 변경</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_08.html'">회원탈퇴</li>
                </ul>
            </div>
        </div>

        <!-- 오른쪽 컨텐츠-->
        <div class="col-12 col-lg-9 content">
            <div class="col-12 content_box" id="tab_7_content">
                <!------------------------------------------>
                <div class="col-12" id="sub_title">프로필 사진 변경</div>
                <div class="image-upload" id="image-upload" style="text-align: center;">
                    <form method="post" enctype="multipart/form-data">
                        <div class="button">
                            <label for="chooseFile">
                                "프로필 바꾸기"
                            </label>
                        </div>
                        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
                    </form>
                    <div class="fileContainer">
                        <div class="fileInput">
                            <p>(test)FILE NAME: </p>
                            <p id="fileName"></p>
                        </div>
                        <div class="buttonContainer">
                            <div class="submitButton" id="submitButton">SUBMIT</div>
                        </div>
                    </div>
                </div>
                <div class="change-show" style="text-align: center;"></div>
                <div class="image-show" id="image-show" style="text-align: center;"></div>
                <!-- TODO: 변경하기 버튼 작업 해야함 -->
                <!------------------------------------------>
            </div>
        </div>
    </div>
</div>
<footer data-include-path="/fixed/footer/footer.html"></footer>
<script>

    /* (참고 사이트) https://velog.io/@minkyeong-ko/HTMLCSSJS-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%97%85%EB%A1%9C%EB%93%9C-%ED%8C%8C%EC%9D%BC%EC%9D%B4%EB%A6%84-%EB%82%98%ED%83%80%EB%82%B4%EA%B8%B0-%ED%99%94%EB%A9%B4%EC%97%90-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EB%B3%B4%EC%97%AC%EC%A3%BC%EA%B8%B0 */
    var submit = document.getElementById('submitButton');
    submit.onclick = showImage;     //Submit 버튼 클릭시 이미지 보여주기

    function showImage() {

        var newImage = document.getElementById('image-show').lastElementChild;
        newImage.style.display = "block";

        document.querySelector('.change-show').innerHTML =
            '<i>선택하신 이미지로 변경하고 싶으시다면,밑에 <span>변경하기</span> 버튼을 눌러주세용</i>' +
            '<button type="submit" class="changeBtn btn btn-info">변경하기</button>';

        document.getElementById('image-upload').style.display = 'none';

        document.getElementById('fileName').textContent = null;     //기존 파일 이름 지우기
    }

    function loadFile(input) {
        var file = input.files[0];

        var name = document.getElementById('fileName');
        name.textContent = file.name;

        var newImage = document.createElement("img");
        newImage.setAttribute("class", 'img');

        newImage.src = URL.createObjectURL(file);

        newImage.style.width = "70%";
        newImage.style.height = "70%";
        newImage.style.display = "none";   //버튼을 누르기 전까지는 이미지 숨기기
        newImage.style.objectFit = "contain";

        var container = document.getElementById('image-show');
        container.appendChild(newImage);
    }
</script>
</body>
</html>