<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/mypage/mypage.css">
    <script type="text/javascript" src="/22_ig031/src/main/resources/static/js/mypage/mypage.js"></script>
    <script type="text/javascript" src="/22_ig031/src/main/resources/templates/includeHtml.js"></script>
</head>
<body>
<header data-include-path="/22_ig031/src/main/resources/templates/fixed/header/header.html"></header>

    <div class="col-12 mypage">
        <div class="col-12 title" style="float: left">내정보</div>
        <div class="col-12 mypage_con">
            <!--왼쪽 메뉴
            TODO: 992px 미만일 때는 display: none 처러, 상단에 클릭하면 펼쳐지는 메뉴로 빼야하나?
                -> 그럴 경우에는 메뉴 div를 2개 만들어야 함. -->
            <div class="col-3 mypage_menu">
                <div class="menu_title">활동내역</div>
                <bottom type="radio" id="tab_1" name="menu_tab" value="1" onclick="showMenu(this)">이벤트 참여내역</bottom>
                <bottom type="radio" id="tab_2" name="menu_tab" value="2" onclick="showMenu(this)">커뮤니티 사용내역</bottom>
                <bottom type="radio" id="tab_3" name="menu_tab" value="3" onclick="showMenu(this)">위치기반 사용내역</bottom>
                <bottom type="radio" id="tab_4" name="menu_tab" value="4" onclick="showMenu(this)">테스트 결과 내역</bottom>
                <div class="menu_title mt">정보변경</div>
                <bottom type="radio" id="tab_5" name="menu_tab" value="5" onclick="showMenu(this)">비밀번호 변경</bottom>
                <bottom type="radio" id="tab_6" name="menu_tab" value="6" onclick="showMenu(this)">닉네임 변경</bottom>
                <bottom type="radio" id="tab_7" name="menu_tab" value="7" onclick="showMenu(this)">프로필 사진 변경</bottom>
                <bottom type="radio" id="tab_8" name="menu_tab" value="8" onclick="showMenu(this)">회원탈퇴</bottom>
            </div>

            <!-- 오른쪽 컨텐츠-->
            <div class="col-12 col-lg-9 content">
                <!-- 1. 내정보 [main] -->
                <div class="col-12 content_box_main"> <!--id="tab_1_content"-->
                    <article class="col-12 col-md-6 content_left">
                        <section class="top">
                            <!-- TODO: 프로필 사진 변경 문구의 경우 프로필 사진이 없는 경우에만 출력 -->
                            <div class="col-4 photo"><a href="">프로필 사진 변경</a></div>  <!-- TODO: https://doolyit.tistory.com/204 -->
                            <ul>
                                <li>닉네임(변수로 교체)</li>
                                <li>포인트(변수로 교체)</li>
                            </ul>
                        </section>
                        <section class="col-12 calender">
                            <div class="col-12 sub_title">출석체크 현황</div>
                            <div class="col-6 today">5.30 (출력형식)</div>
                            <div class="col-6 today_complete">출석 완료</div>
                            <div class="sub_calender">캘린더를 어쩌냐</div>
                        </section>
                    </article>
                    <article class="col-12 col-md-6 content_right">
                        <div class="col-12 sub_title">오늘의 날씨</div>
                        <section>날씨 api</section>
                    </article>
                </div>
                <!-- 2. 내정보 [활동내역 - 이벤트 참여내역]-->
                <div class="col-12 content_box" id="tab_1_content">222222</div>
                <!-- 3. 내정보 [활동내역 - 커뮤니티 참여내역]-->
                <div class="col-12 content_box" id="tab_2_content">333333</div>
                <!-- 4. 내정보 [활동내역 - 위치기반 참여내역]-->
                <div class="col-12 content_box" id="tab_3_content">444444</div>
                <!-- 5. 내정보 [활동내역 - 테스트 참여내역]-->
                <div class="col-12 content_box" id="tab_4_content">555555</div>
                <!-- 6. 내정보 [정보변경 - 비밀번호 변경]-->
                <div class="col-12 content_box" id="tab_5_content">666666</div>
                <!-- 7. 내정보 [정보변경 - 닉네임 변경]-->
                <div class="col-12 content_box" id="tab_6_content">777777</div>
                <!-- 8. 내정보 [정보변경 - 프로필 사진 변경]-->
                <div class="col-12 content_box" id="tab_7_content">888888</div>
                <!-- 9. 내정보 [정보변경 - 비밀번호 변경]-->
                <div class="col-12 content_box" id="tab_8_content">999999</div>
            </div>
        </div>
    </div>

<footer data-include-path="/22_ig031/src/main/resources/templates/fixed/footer/footer.html"></footer>
</body>
</html>