<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/mypage/mypage.css">
    <script type="text/javascript" src="/22_ig031/src/main/resources/static/js/mypage/mypage.js"></script>
    <script type="text/javascript" src="/22_ig031/src/main/resources/templates/includeHtml.js"></script>
</head>
<body>
    <div class="col-12 mypage">
        <div class="col-12 title" style="float: left">내정보</div>
        <div class="col-12 mypage_con">
            <!--왼쪽 메뉴
            TODO: 992px 미만일 때는 display: none 처러, 상단에 클릭하면 펼쳐지는 메뉴로 빼야하나?
                -> 그럴 경우에는 메뉴 div를 2개 만들어야 함. -->
            <div class="col-3 mypage_menu">
                <div class="col-12 menu_01">
                    <div class="menu_title">활동내역</div>
                    <ul>
                        <li>이벤트 참여내역</li>
                        <li>커뮤니티 사용내역</li>
                        <li>위치기반 사용내역</li>
                        <li>테스트 결과 내역</li>
                    </ul>
                </div>
                <div class="col-12 menu_02">
                    <div class="menu_title">정보변경</div>
                    <ul>
                        <li>비밀번호 변경</li>
                        <li>닉네임 변경</li>
                        <li>프로필 사진 변경</li>
                        <li>회원탈퇴</li>
                    </ul>
                </div>
            </div>
            <!-- 오른쪽 컨텐츠-->
            <div class="col-9 content_box">
                <article class="col-6 content_left">
                    <section class="top">
                        <div class="col-4 photo"><a>프로필 사진 변경</a></div>  <!-- TODO: https://doolyit.tistory.com/204 -->
                        <ul class="col-8">
                            <li>닉네임(변수로 교체)</li>
                            <li>포인트(변수로 교체)</li>
                        </ul>
                    </section>
                    <section class="col-12 calender">
                        <div class="col-12 sub_title">출석체크 현황</div>
                        <div class="today">5.30 (출력형식)</div>
                        <div class="today_complete">출석 완료</div>
                        <div class="calender">캘린더</div>
                    </section>
                </article>
                <article class="col-6 content_right">
                    <div class="col-12 sub_title">오늘의 날씨</div>
                    <section>날씨 api</section>
                </article>
            </div>
        </div>
    </div>
</body>
</html>