<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/fixed/header.css"> <!-- 헤더 -->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/fixed/footer.css"> <!--푸터-->
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/mypage/mypage.css">
    <!--jquery 추가-->
    <script src="/22_ig031/src/main/resources/templates/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/22_ig031/src/main/resources/templates/includeHtml.js"></script>
</head>
<body>
<header data-include-path="/22_ig031/src/main/resources/templates/fixed/header/header.html"></header>

<div class="col-12 mypage">
    <div class="col-12 title" style="float: left">
        <a class="col-12" id="tab_0" name="menu_tab" onclick="location.href='mypage.html'">내정보</a>
    </div>
    <div class="col-12 mypage_con">
        <!--왼쪽 메뉴 -->
        <div class="col-12 col-lg-3 mypage_menu">
            <button type="button" class="col-12 mobile_title" onclick="mobile_menu()">메뉴<span>&gt;</span></button>
            <div class="col-0 menu_list">
                <div class="menu_title">활동내역</div>
                <ul>
                    <li class="col-12" onclick="location.href='mypage_01.html'">이벤트 참여내역</li>
                    <li class="col-12" onclick="location.href='mypage_02.html'">커뮤니티 사용내역</li>
                    <li class="col-12" onclick="location.href='mypage_03.html'">위치기반 사용내역</li>
                    <li class="col-12" onclick="location.href='mypage_04.html'">테스트 결과 내역</li>
                </ul>
            </div>
            <div class="col-0 menu_list">
                <div class="menu_title mt">정보변경</div>
                <ul>
                    <li class="col-12" onclick="location.href='mypage_05.html'">비밀번호 변경</li>
                    <li class="col-12" onclick="location.href='mypage_06.html'">닉네임 변경</li>
                    <li class="col-12" onclick="location.href='mypage_07.html'">프로필 사진 변경</li>
                    <li class="col-12" onclick="location.href='mypage_08.html'">회원탈퇴</li>
                </ul>
            </div>
        </div>

        <!-- 오른쪽 컨텐츠-->
        <div class="col-12 col-lg-9 content">
            <div class="col-12 content_box" id="tab_1_content">
                <!------------------------------------------>
                <div class="col-12 title">이벤트 참여내역</div>
                <div class="col-12 event_attend_filter">
                    <div class="col-12 title">필터</div>
                </div>
                <div class="col-12 event_attend_table">
                    <table>
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>블로그 스킨 변경</td>
                            <td>Horong</td>
                            <td>2021-02-01</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!------------------------------------------>
            </div>
        </div>
    </div>
</div>
<footer data-include-path="/22_ig031/src/main/resources/templates/fixed/footer/footer.html"></footer>
<script type="text/javascript" src="/22_ig031/src/main/resources/templates/mypage/js/mypage.js"></script>
</body>
</html>