<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <script type="text/javascript" src="/jquery-3.6.0.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/css/fixed/header.css"> <!-- 헤더 -->
    <link rel="stylesheet" type="text/css" href="/css/fixed/footer.css"> <!--푸터-->
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css">
    <script type="text/javascript" src="/includeHtml.js"></script>
    <script type="text/javascript" src="/js/mypage.js"></script>
</head>
<body>
<header data-include-path="/fixed/header/header.html"></header>

<div class="col-12 mypage">
    <div class="col-12 title" style="float: left">
        <a class="col-12" id="tab_0" name="menu_tab" onclick="location.href='/mypage/mypage.html'">내정보</a>
    </div>
    <div class="col-12 mypage_con">
        <!--왼쪽 메뉴 -->
        <div class="col-12 col-lg-3 mypage_menu">
            <button type="button" class="col-12 mobile_title" onclick="mobile_menu()">메뉴<span>&gt;</span></button>
            <div class="col-0 menu_list mt">
                <div class="menu_title">활동내역</div>
                <ul>
                    <li class="col-12" onclick="location.href='/mypage/mypage_01.html'">이벤트 참여내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_02.html'">커뮤니티 사용내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_03.html'">위치기반 사용내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_04.html'">테스트 결과 내역</li>
                </ul>
            </div>
            <div class="col-0 menu_list">
                <div class="menu_title mt">정보변경</div>
                <ul>
                    <li class="col-12" onclick="location.href='/mypage/mypage_05.html'">비밀번호 변경</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_06.html'">닉네임 변경</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_07.html'">프로필 사진 변경</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_08.html'">회원탈퇴</li>
                </ul>
            </div>
        </div>

        <!-- 오른쪽 컨텐츠-->
        <div class="col-12 col-lg-9 content">
            <div class="col-12 content_box" id="tab_8_content">
                <!------------------------------------------>
                <!-- TODO: 회원탈퇴 및 다른 부분 스프링 참고하기-->
                <div class="col-12" id="sub_title">회원 탈퇴</div>
                <div class="col-12" style="text-align: center;">
                    <div class="title">로그인</div>
                    <form action='/register' method="post" class="col-11 col-sm-8 col-md-6 col-lg-5">
                        <input type="text" class="box_eft_01" id="mb_id" name="mb_id" placeholder="아이디를 입력해주세요.">
                        <input type="password" class="box_eft_01" id="mb_pw" name="mb_pw" placeholder="비밀번호를 입력해주세요.">
                        <div class="col-12" style="margin-bottom: 20px;">
                            <div class="col-7 user_id_pass">
                                <input type="button" title="아이디 찾기" id="find_id_btn" value="아이디 찾기"
                                       onclick="location.href='/login/find_id_form.html'">
                                <input type="button" title="비밀번호 찾기" id="find_pw_btn" value="비밀번호 찾기"
                                       onclick="location.href='/login/find_pw_form.html'">
                            </div>
                            <div class="col-5 new_user">
                                <input type="button" value="회원가입" onclick="location.href='/login/register.html'">
                            </div>
                        </div>
                        <input type="submit" value="로그인" class="btn box_eft_02">
                    </form>
                </div>
                    <div class="col-12 no_user">
                        <div class="col-12 no_user_title">로그인 후 탈퇴 페이지</div>
                        <form>
                            <ul>
                                <li><input type="checkbox" checked>선택 1</li>
                                <li><input type="checkbox">선택 1</li>
                                <li><input type="checkbox">선택 1</li>
                                <li><input type="checkbox">선택 1</li>
                                <li><input type="checkbox">선택 1</li>
                                <li class="flex__"><span>기타</span><input type="text" checked></li>
                                <li class="float__"><input type="submit" class="no_user_btn btn btn-info"></input></li>
                            </ul>
                        </form>
                    </div>
                </div>
                <!------------------------------------------>
            </div>
        </div>
    </div>
</div>
<footer data-include-path="/fixed/footer/footer.html"></footer>
</body>
</html>