<!doctype html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <script type="text/javascript" src="/jquery-3.6.0.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/css/fixed/header.css"> <!-- 헤더 -->
    <link rel="stylesheet" type="text/css" href="/css/fixed/footer.css"> <!--푸터-->
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css">
    <script type="text/javascript" src="/includeHtml.js"></script>
    <script type="text/javascript" src="/js/mypage.js"></script>

    <script>
        /* ajax를 통한 탈퇴처리 */
        function deleteMember() {

            var pw = $("#pw").val();

            if(pw.trim() != '') {

                var mb_id = $("#mb_id").val();
                var param = {"mb_id":mb_id, "mb_pw":pw}

                $.ajax({
                    async: true,
                    type: 'POST',
                    data: JSON.stringify(param),

                    url: "/memberDelete",
                    dataType: "text",
                    contentType: "application/json; charset=UTF-8",
                    success: function(data) {
                        if(data == "success") {
                            alert("탈퇴가 처리되었습니다.");
                            location.href="/";
                        } else {
                            alert("비밀번호가 맞지 않습니다.");
                        }
                    },
                    error:function(request, status, error){
                        alert("code:"+request.status+"\n"+
                            "message:"+request.responseText+"\n"+"error:"+error);
                    }
                })
            } else {
                alert("비밀번호를 제대로 입력해주세요.");
            }
        }
    </script>
</head>
<body>
<header data-include-path="/fixed/header/header.html"></header>

<div class="col-12 mypage">
    <div class="col-12 title" style="float: left">
        <a class="col-12" id="tab_0" name="menu_tab" onclick="location.href='/mypage/mypage.html'">내정보</a>
    </div>
    <div class="col-12 mypage_con">
        <!--왼쪽 메뉴 -->
        <div class="col-12 col-lg-3 mypage_menu">
            <div class="col-0 menu_list mt">
                <div class="col-12 menu_title">활동내역</div>
                <ul class="col-12" id="menu_list_01">
                    <li class="col-12" onclick="location.href='/mypage/mypage_01.html'">이벤트 참여내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_02.html'">커뮤니티 사용내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_03.html'">위치기반 사용내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_04.html'">테스트 결과 내역</li>
                </ul>
                <div class="col-12 col-lg-12 menu_list" id="menu_list_02">
                    <div class="menu_title mt">정보변경</div>
                    <ul>
                        <li class="col-12" onclick="location.href='/mypage/mypage_05.html'">비밀번호 변경</li>
                        <li class="col-12" onclick="location.href='/mypage/mypage_06.html'">닉네임 변경</li>
                        <li class="col-12" onclick="location.href='/mypage/mypage_07.html'">프로필 사진 변경</li>
                        <li class="col-12" onclick="location.href='/mypage/mypage_08.html'">회원탈퇴</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-9 content">
            <div class="col-12 content_box" id="tab_8_content">
                <div class="col-12" id="sub_title">회원 탈퇴</div>
                <div class="col-12 col-md-8 col-lg-6" style="text-align: center;margin-left: auto; margin-right: auto;padding-top: 70px;">
                    <form action='/register' method="post">
                        <ul>
                            <li>
                                <span class="col-12 col-md-3">아이디</span>
                                <input type="text" name="mb_id" id="mb_id" class="box_eft_01" th:value="${modifyId}" readonly="readonly">
                            </li>
                            <li>
                                <span class="col-12 col-md-3">비밀번호</span>
                                <input type="password" name="pw" id="pw" class="box_eft_01">
                            </li>
                        </ul>
                    </form>
                    <button type="button" class="box_eft_02" onclick="deleteMember()">회원탈퇴</button>
                    <button type="button" class="box_eft_02" onclick="location.href='/'">처음으로</button>
                </div>
                    <div class="col-12 no_user">
                        <div class="col-12 no_user_title">로그인 후 탈퇴 페이지</div>
                        <form>
                            <ul>
                                <li><input type="checkbox" checked>선택 1</li>
                                <li><input type="checkbox">선택 1</li>
                                <li><input type="checkbox">선택 1</li>
                                <li><input type="checkbox">선택 1</li>
                                <li><input type="checkbox">선택 1</li>
                                <li class="flex__"><span>기타</span><input type="text" checked></li>
                                <li class="float__"><input type="submit" class="no_user_btn btn btn-info"></input></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer data-include-path="/fixed/footer/footer.html"></footer>
</body>
</html>