<!doctype html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>닉네임 변경</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
    <script type="text/javascript" src="/jquery-3.6.0.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/common.css"> <!-- 공통 css -->
    <link rel="stylesheet" type="text/css" href="/css/fixed/header.css"> <!-- 헤더 -->
    <link rel="stylesheet" type="text/css" href="/css/fixed/footer.css"> <!--푸터-->
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css">
    <script type="text/javascript" src="/includeHtml.js"></script>
    <script type="text/javascript" src="/js/mypage.js"></script>

    <script type="text/javascript">
        function updateNick() {

            var mb_id = $("#mb_id").val();
            var nick = $("#nick").val();

            var param = {"mb_id":mb_id, "mb_nick":nick}
            var stateCode = '?stateCode=1';

            if(nick == '') {
                alert("새 닉네임을 올바르게 입력해주세요.");
            } else {
                $.ajax({
                    async:true,
                    type:'POST',
                    data: JSON.stringify(param),

                    url:"/nick_modify",
                    dataType: "text",
                    contentType: "application/json; charset=UTF-8",
                    success : function() {
                        alert("닉네임 변경이 완료되었습니다.");
                        location.href="/boardList"+stateCode;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("ERROR : " + textStatus + " : " + errorThrown);
                    }
                })
            }

        }

        /* 닉네임 중복 체크 : ajax 비동기처리 */
        function nickCheck() {

            var mb_nick = $("#nick").val();

            if(mb_nick.search(/\s/) != -1) {
                alert("닉네임에는 공백이 들어갈 수 없습니다.");
            } else {
                if(mb_nick.trim().length != 0) {
                    console.log(mb_nick.trim().length);
                    $.ajax({
                        async : true,
                        type : 'POST',
                        data: mb_nick,

                        url: "/nickCheck",
                        dataType: "json",
                        contentType: "application/json; charset=UTF-8",
                        success: function(count) {
                            if(count > 0) {
                                alert("해당 닉네임 존재");
                                window.location.reload();
                            } else {
                                alert("사용가능 닉네임");

                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(errorThrown + " " + textStatus);
                            alert("닉네임을 입력해주세요.");
                        }
                    });
                } else {
                    alert("닉네임을 입력해주세요.");
                }
            }
        }
    </script>
</head>
<body>
<header data-include-path="/fixed/header/header.html"></header>

<div class="col-12 mypage">
    <div class="col-12 title" style="float: left">
        <a class="col-12" id="tab_0" name="menu_tab" onclick="location.href='/mypage/mypage.html'">내정보</a>
    </div>
    <div class="col-12 mypage_con">
        <!--왼쪽 메뉴 -->
        <div class="col-12 col-lg-3 mypage_menu">
            <div class="col-0 menu_list mt">
                <div class="col-12 menu_title" onclick="mobile_menu();">활동내역</div>
                <ul class="col-12" id="menu_list_01">
                    <li class="col-12" onclick="location.href='/mypage/mypage_01.html'">이벤트 참여내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_02.html'">커뮤니티 사용내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_03.html'">위치기반 사용내역</li>
                    <li class="col-12" onclick="location.href='/mypage/mypage_04.html'">테스트 결과 내역</li>
                </ul>
                <div class="col-12 col-lg-0 menu_list" id="menu_list_02">
                    <div class="menu_title mt">정보변경</div>
                    <ul>
                        <li class="col-12" onclick="location.href='/mypage/mypage_05.html'">비밀번호 변경</li>
                        <li class="col-12" onclick="location.href='/mypage/mypage_06.html'">닉네임 변경</li>
                        <li class="col-12" onclick="location.href='/mypage/mypage_07.html'">프로필 사진 변경</li>
                        <li class="col-12" onclick="location.href='/mypage/mypage_08.html'">회원탈퇴</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-9 content">
            <div class="col-12 content_box" id="tab_6_content">
                <div class="col-12" id="sub_title">닉네임 변경</div>
                <div class="col-12" style="text-align: center;">
                    <form action=/register' method="post">
                        <div style="display:none;">아이디<input type="text" name="mb_id" id="mb_id" th:value="${modifyId}" readonly="readonly"></div>
                        <div>기존 닉네임<input type="text" name="mb_nick" id="mb_nick" th:value="${modifyNick}" readonly="readonly"></div>
                        <div>새 닉네임<input type="text" name="nick" id="nick"><button type="button" onclick="nickCheck()">중복확인</button></div>
                    </form>
                    <button type="button" id="submit" onclick="updateNick()">변경하기</button>
                    <button type="button" onclick="location.href='/'">처음으로</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer data-include-path="/fixed/footer/footer.html"></footer>
</body>
</html>