<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>advice_view</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
  <script src="/22_ig031/src/main/resources/templates/jquery-3.6.0.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/common.css"> <!-- 공통 css -->
  <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/fixed/header.css"> <!-- 헤더 -->
  <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/fixed/footer.css"> <!--푸터-->
  <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/advice/advice.css">
  <script type="text/javascript" src="/22_ig031/src/main/resources/templates/includeHtml.js"></script>
</head>

<body>
<header data-include-path="/22_ig031/src/main/resources/templates/fixed/header/header.html"></header>
<div class="col-12 view_wrap">
  <div class="col-10 view_con">
    <div class="col-12 category_title">카테고리</div>
    <div class="col-12 view_list">
      <div class="col-12 board_view_title">글 제목</div>
      <div class="col-12 board_view_info">
        <dl>
          <dt>번호</dt>
          <dd>1</dd>
        </dl>
        <dl>
          <dt>글쓴이</dt>
          <dd>김배화</dd>
        </dl>
        <dl>
          <dt>작성일</dt>
          <dd>2022.07.13</dd>
        </dl>
        <dl>
          <dt>조회</dt>
          <dd>33</dd>
        </dl>
      </div>
      <div class="col-12 board_view_content">
        글 내용<br>
        글 내용<br>
        글 내용<br>
        글 내용<br>
        글 내용<br>
        글 내용<br>
        글 내용<br>
        글 내용
      </div>
    </div>
    <div class="col-12 btn_wrap">
      <a onclick="location.href='/22_ig031/src/main/resources/templates/advice/advice.html';" class="on box_back">목록</a>
    </div>
  </div>
</div>
<footer data-include-path="/22_ig031/src/main/resources/templates/fixed/footer/footer.html"></footer>
</body>
</html>