<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>서브페이지_b</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/sub_00/sub_00_b.css">
    <script type="text/javascript" src="/22_ig031/src/main/resources/static/js/sub_00/sub_00.js"></script>
</head>
<body>
    <!--부트스트랩 스크립트 설정-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <!--화면 구조 설계-->
    <a class="btn btn-default" href="">테스트</a>

</body>
</html>