<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>서브페이지_b</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/sub_00/sub_00_b.css">
    <script type="text/javascript" src="/22_ig031/src/main/resources/static/js/sub_00/sub_00.js"></script>
</head>
<body>
    <!--부트스트랩 스크립트 설정-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <!--화면 구조 설계-->
    <div class="col-12 event">
        <div class="col-12 event_title">이벤트</div>
        <div class="col-12 event_wrap">
            <ul class="no-padding">
                <li class="col-12 col-md-4"><span>이벤트 1</span></li>
                <li class="col-12 col-md-4"><span>이벤트 2</span></li>
                <li class="col-12 col-md-4"><span>이벤트 3</span></li>
            </ul>
        </div>
    </div>

</body>
</html>