@font-face{
    font-family: 'inter';
    font-weight: 900;
    src: url('/static/FontFile/inter-Black.ttf');
}
@font-face{
    font-family: 'inter';
    font-weight: 800;
    src: url('/static/FontFile/inter-ExtraBold.ttf');
}
@font-face{
    font-family: 'inter';
    font-weight: 700;
    src: url('/static/FontFile/inter-Bold.ttf');
}
@font-face{
    font-family: 'inter';
    font-weight: 600;
    src: url('/static/FontFile/inter-SemiBold.ttf');
}
@font-face{
    font-family: 'inter';
    font-weight: 500;
    src: url('/static/FontFile/inter-Medium.ttf');
}
@font-face{
    font-family: 'inter';
    font-weight: 400;
    src: url('/static/FontFile/inter-Regular.ttf');
}
@font-face{
    font-family: 'inter';
    font-weight: 300;
    src: url('/static/FontFile/inter-Light.ttf');
}
@font-face{
    font-family: 'inter';
    font-weight: 200;
    src: url('/static/FontFile/inter-ExtraLight.ttf');
}
@font-face{
    font-family: 'inter';
    font-weight: 100;
    src: url('/static/FontFile/inter-Thin.ttf');
}

@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 900;
    src: url('/static/FontFile/NotoSansKR-Black.ttf');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 800;
    src: url('/static/FontFile/NotoSansKR-ExtraBold.ttf');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url('/static/FontFile/NotoSansKR-Bold.ttf');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 600;
    src: url('/static/FontFile/NotoSansKR-SemiBold.ttf');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url('/static/FontFile/NotoSansKR-Medium.ttf');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('/static/FontFile/NotoSansKR-Regular.ttf');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 300;
    src: url('/static/FontFile/NotoSansKR-Light.ttf');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 200;
    src: url('/static/FontFile/NotoSansKR-ExtraLight.ttf');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src: url('/static/FontFile/NotoSansKR-Thin.ttf');
}