<header>
    <div class="col-12 header_wrap">
        <div class="col-3 col-lg-2 header_logo">
            <a href="" class="logo"><img src="/static/img/CTO_Logo_01.png" alt="Logo"></a>
            <!-- 대부분의 경우 웹사이트의 로고 사이즈는 250px(width) x 100px(height) 추후 사이즈, 로고 이미지 조정 -->

        </div>
        <div class="col-0 col-lg-6 header_menu">
            <ul class="col-12">
                <li onclick="location.href='/community/community.html';">커뮤니티</li>
                <li onclick="location.href=''">상담</li>
                <li onclick="location.href=''">위치기반</li>
                <li onclick="location.href=''">ENT</li>
                <li onclick="location.href=''">이벤트</li>
                <li onclick="location.href=''">신고</li>
            </ul>
        </div>
        <div class="col-9 col-lg-3 header_right">
            <div class="col-10 gnb">
                <input type="text" placeholder="검색어를 입력하세요.">
                <img src="/static/img/icon_search_btn_01.png" alt="search">
            </div>
            <div class="col-0 event-burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </div>
        <!-- 예전 코드
            <div id ="event-wrap">
               <header>
                   <div>
                       <h1 class ="logo">
                           <a href="#"><img src="images/CTO_Logo_01.png" alt="Logo"></a>
                       </h1>
                        #대부분의 경우 웹사이트의 로고 사이즈는 250px(width) x 100px(height) 추후 사이즈, 로고 이미지 조정

                       <ul class="gnb">
                           <li>
                               <input type="text" placeholder="검색어를 입력하세요.">
                               <img src="images/icon_search_btn_01.png" alt="search">
                           </li>
                       </ul>
                   </div>
                   #<div class="event-burger">
                   #<div class="line1"></div>
                   #<div class="line2"></div>
                   #<div class="line3"></div>
               #</div>
               </header>
           </div>
        -->
</header>