<header>
    <div class="col-12 header_wrap">
        <div class="col-3 col-lg-2 header_logo">
            <a href="/" class="logo"><img src="/img/CTO_Logo_02.png" alt="Logo"></a>
            <!-- 대부분의 경우 웹사이트의 로고 사이즈는 250px(width) x 100px(height) 추후 사이즈, 로고 이미지 조정 -->

        </div>
        <div class="col-0 col-lg-8 header_menu">
            <ul class="col-12">
                <li onclick="location.href='/community/community.html'">커뮤니티</li>
                <li onclick="location.href='/advice/advice.html'">상담</li>
                <li onclick="location.href=''">위치기반</li>
                <li onclick="location.href='/Entertainment/Entertainment.html'">ENT</li>
                <li onclick="location.href='/event/event_detail.html'">이벤트</li>
                <li onclick="location.href='/report/report.html'">신고</li>
                <!--로그인 기능 구현 창-->
            </ul>
        </div>
        <div class="col-9 col-lg-2 header_right">
            <!-- 웹 버전 (992px 이상 부터 보임) -->
            <div class="web_right">
                <!-- 방문자 -->
                <a class="visitant__" onclick="location.href='/login/login.html'">로그인</a>&nbsp;
                <a class="visitant__" onclick="location.href='/login/register.html'">회원가입</a>
                <!-- 유저 / 기본 display:none 상태임 로그인하면 js로 display:block으로 바꾸기만 하면 됨. -->
                <div class="user__"><span>이름</span>님, 환영합니다.</div>
                <a class="user__" onclick="location.href='/mypage/mypage.html'">마이페이지</a>
                <a class="user__" onclick="location.href='/'">로그아웃</a>
            </div>

            <!-- 모바일 버전 (991px 까지만 보임) -->
            <div class="mob_right">
                <div class="col-0 event-burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <ul class="mob_menu">
                   <li>
                       <!-- 방문자 -->
                       <a class="visitant__" onclick="location.href='/login/login.html'">로그인</a>&nbsp;
                       <a class="visitant__" onclick="location.href='/login/register.html'">회원가입</a>
                       <!-- 유저 -->
                       <div class="user__"><span>이름</span>님, 환영합니다.</div>
                       <a class="user__" onclick="location.href='/mypage/mypage.html'">마이페이지</a>
                       <a class="user__" onclick="location.href='/'">로그아웃</a>
                    </li>
                    <li onclick="location.href='/community/community.html'">커뮤니티</li>
                    <li onclick="location.href='/advice/advice.html'">상담</li>
                    <li onclick="location.href=''">위치기반</li>
                    <li onclick="location.href='/Entertainment/Entertainment.html'">ENT</li>
                    <li onclick="location.href='/event/event_detail.html'">이벤트</li>
                    <li onclick="location.href='/report/report.html'">신고</li>
                </ul>
            </div>
        </div>
    </div>
        <!-- 예전 코드
            <div id ="event-wrap">
               <header>
                   <div>
                       <h1 class ="logo">
                           <a href="#"><img src="images/CTO_Logo_01.png" alt="Logo"></a>
                       </h1>
                        #대부분의 경우 웹사이트의 로고 사이즈는 250px(width) x 100px(height) 추후 사이즈, 로고 이미지 조정

                       <ul class="gnb">
                           <li>
                               <input type="text" placeholder="검색어를 입력하세요.">
                               <img src="images/icon_search_btn_01.png" alt="search">
                           </li>
                       </ul>
                   </div>
                   #<div class="event-burger">
                   #<div class="line1"></div>
                   #<div class="line2"></div>
                   #<div class="line3"></div>
               #</div>
               </header>
           </div>
        -->
</header>