<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>엔터테인먼트</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
  <script type="text/javascript" src="/jquery-3.6.0.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/common.css"> <!-- 공통 css -->
  <link rel="stylesheet" type="text/css" href="/css/fixed/header.css"> <!-- 헤더 -->
  <link rel="stylesheet" type="text/css" href="/css/fixed/footer.css"> <!--푸터-->
  <link rel="stylesheet" type="text/css" href="/css/Entertainment/Entertainment.css">
  <script type="text/javascript" src="/includeHtml.js"></script>

</head>
<body>
<header data-include-path="/fixed/header/header.html"></header>


<div class="col-12 Enter-container">
    <div class="col-12 col-md-10 Ent_main">
        <input type="radio" id="Ent_tab-1" name="show" checked/>
        <input type="radio" id="Ent_tab-2" name="show"/>
        <div class="Ent_menu">
            <label class="col-md-6 box_eft_01" for="Ent_tab-1">게임</label>
            <label class="col-md-6 box_eft_01" for="Ent_tab-2">테스트</label>
        </div>


        <div class="col-12 Ent_content">
            <div class="col-12 content-dis" style="height: 100%;">
                <div class="col-12 Ent_main_content">
                    <div class="col-12 Enter_list_wrap">
                        <ul>
                            <li class="col-12 col-sm-6 col-md-4 Enter_item item1">
                                <div class="col-12 Enter_item_border">
                                    <div class="Enter_image"> 사진</div>
                                    <div class="Enter_content">
                                        <strong>게임 제목1</strong>
                                        <p>게임 내용 소개</p>
                                        <a href="Enter_game_01.html">바로가기</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 col-md-4 Enter_item item2">
                                <div class="col-12 Enter_item_border">
                                    <div class="Enter_image"> 사진</div>
                                    <div class="Enter_content">
                                        <strong>게임 제목1</strong>
                                        <p>게임 내용 소개</p>
                                        <a href="#">바로가기</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 col-md-4 Enter_item item3">
                                <div class="col-12 Enter_item_border">
                                    <div class="Enter_image"> 사진</div>
                                    <div class="Enter_content">
                                        <strong>게임 제목1</strong>
                                        <p>게임 내용 소개</p>
                                        <a href="#">바로가기</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 col-md-4 Enter_item item4">
                                <div class="col-12 Enter_item_border">
                                    <div class="Enter_image"> 사진</div>
                                    <div class="Enter_content">
                                        <strong>게임 제목1</strong>
                                        <p>게임 내용 소개</p>
                                        <a href="#">바로가기</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-12 content-dis" style="height: 100%;">
                <div class="col-12 Ent_main_content">
                    <div class="col-12 Enter_list_wrap">
                        <ul>
                            <li class="col-12 col-sm-6 col-md-4 Enter_item item5">
                                <div class="col-12 Enter_item_border">
                                    <div><img class="Enter_image"
                                              src="/img/Enter_jadoo_test/Enter_jadoo_title_image.png"></div>
                                    <div class="Enter_content">
                                        <strong>테스트 제목</strong>
                                        <p>테스트 내용 소개</p>
                                        <a href="/Entertainment/Enter_mbti_jadoo.html">바로가기</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 col-md-4 Enter_item item6">
                                <div class="col-12 Enter_item_border">
                                    <div><img class="Enter_image" src=""></div>
                                    <div class="Enter_content">
                                        <strong>테스트 제목</strong>
                                        <p>테스트 내용 소개</p>
                                        <a href="#">바로가기</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 col-md-4 Enter_item item7">
                                <div class="col-12 Enter_item_border">
                                    <div class="Enter_image"> 사진</div>
                                    <div class="Enter_content">
                                        <strong>테스트 제목</strong>
                                        <p>테스트 내용 소개</p>
                                        <a href="#">바로가기</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-12 col-sm-6 col-md-4 Enter_item item8">
                                <div class="col-12 Enter_item_border">
                                    <div class="Enter_image"> 사진</div>
                                    <div class="Enter_content">
                                        <strong>테스트 제목</strong>
                                        <p>테스트 내용 소개</p>
                                        <a href="#">바로가기</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="btn_wrap">
                <a href="/event/event_detail_bookQ.html" class="box_eft_02">이벤트 참여하기</a>
            </div>

        </div>
    </div>
</div>
</div>


<footer data-include-path="/fixed/footer/footer.html"></footer>
<script type="text/javascript" src="/js/Entertainment.js"></script>
</body>
</html>