<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>엔터테인먼트</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- 부트스트랩 -->
  <script src="/templates/jquery-3.6.0.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/common.css"> <!-- 공통 css -->
  <link rel="stylesheet" type="text/css" href="/static/css/fixed/header.css"> <!-- 헤더 -->
  <link rel="stylesheet" type="text/css" href="/static/css/fixed/footer.css"> <!--푸터-->
  <link rel="stylesheet" type="text/css" href="/static/css/Entertainment/Entertainment.css">
  <script type="text/javascript" src="/templates/includeHtml.js"></script>

</head>
<body>
<header data-include-path="/22_ig031/src/main/resources/templates/fixed/header/header.html"></header>


   <div class="col-12 Enter-container">
    <div class="col-12 col-md-10 Ent_main">
      <input type="radio" id="Ent_tab-1" name="show" checked/>
      <input type="radio" id="Ent_tab-2" name="show" />
      <div class="Ent_menu">
        <label style="width: 100vh;" class="col-md-6 active box_eft_01" for="Ent_tab-1">게임</label>
        <label style="width: 100vh;" class="col-md-6 box_eft_01" for="Ent_tab-2">테스트</label>
      </div>




      <div class="col-12 Ent_content">
        <div class="col-12 content-dis" style="height: 800px;">
          <div class="col-12 col-md-10 Ent_main_content" >
            <div class="Enter_list_wrap" style="margin-top: 20px;">
              <ul>
                <li class="Enter_item item1">
                  <div class="Enter_image"> 사진</div>
                  <div class="Enter_content">
                    <strong>게임 제목</strong>
                    <p>게임 내용 소개</p>
                    <a href="Enter_game_01.html">바로가기</a>
                  </div>
                </li>

                <li class="Enter_item item2">
                  <div class="Enter_image"> 사진</div>
                  <div class="Enter_content">
                    <strong>게임 제목</strong>
                    <p>게임 내용 소개</p>
                    <a href="#">바로가기</a>
                  </div>
                </li>

                <li class="Enter_item item3">
                  <div class="Enter_image"> 사진</div>
                  <div class="Enter_content">
                    <strong>게임 제목</strong>
                    <p>게임 내용 소개</p>
                    <a href="#">바로가기</a>
                  </div>
                </li>

                <li class="Enter_item item4">
                  <div class="Enter_image"> 사진</div>
                  <div class="Enter_content">
                    <strong>게임 제목</strong>
                    <p>게임 내용 소개</p>
                    <a href="#">바로가기</a>
                  </div>
                </li>

              </ul>
          </div>
          </div>
        </div>



        <div class="col-12 content-dis" style="height: 800px;">
          <div class="col-12 col-md-10 Ent_main_content" >
            <div class="Enter_list_wrap" style="margin-top: 20px;">
                    <ul>
                      <li class="Enter_item item5">
                        <div><img class="Enter_image" src="/static/img/Enter_jadoo_test/Enter_jadoo_title_image.png"></div>
                        <div class="Enter_content">
                          <strong>테스트 제목</strong>
                          <p>테스트 내용 소개</p>
                          <a href="/22_ig031/src/main/resources/templates/Entertainment/Enter_mbti_jadoo.html">바로가기</a>
                        </div>
                      </li>

                      <li class="Enter_item item6">
                        <div><img class="Enter_image" src=""></div>
                        <div class="Enter_content">
                          <strong>테스트 제목</strong>
                          <p>테스트 내용 소개</p>
                          <a href="#">바로가기</a>
                        </div>
                      </li>

                      <li class="Enter_item item7">
                        <div class="Enter_image"> 사진</div>
                        <div class="Enter_content">
                          <strong>테스트 제목</strong>
                          <p>테스트 내용 소개</p>
                          <a href="#">바로가기</a>
                        </div>
                      </li>

                      <li class="Enter_item item8">
                        <div class="Enter_image"> 사진</div>
                        <div class="Enter_content">
                          <strong>테스트 제목</strong>
                          <p>테스트 내용 소개</p>
                          <a href="#">바로가기</a>
                        </div>
                      </li>
                   </ul>
               </div>
              </div>
              </div>
        </div>
      </div>


      <div class="btn_wrap">
        <a href="/22_ig031/src/main/resources/templates/event/event_detail_bookQ.html" class="box_eft_02">이벤트 참여하기</a>
      </div>

          </div>
        </div>
      </div>
    </div>


<footer data-include-path="/templates/fixed/footer/footer.html"></footer>
<script type="text/javascript" src="/js/Entertainment.js"></script>
</body>
</html>