/* 글자 속성 */
* { word-break: keep-all; font-family: 'SCDream' !important; font-size: 15px; line-height: 21px; font-weight: 300; }

/* ul li 스타일 x */
ul { padding-inline-start: 0;}
dl, ol, ul { margin: 0; }
body li { list-style: none; }

/* 부트스트랩 덮어씌우기 */
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1, .col-0 { padding: 0; }

/* TODO: 모든 페이지의 최상위 부모는 <div class="col-12">로 시작해야한다 */
body > div.col-12 { max-width: 1330px; margin: 0 auto; padding: 80px 15px 120px; }

/* 버튼 속성 일부 초기화 */
button { text-align: left; border: none; outline: none; background-color: #fff;}
button:focus{ border: none; outline:none; }

/* h 태그 속성 일부 초기화 */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }

/* a태그 */
a { color: #000; cursor: pointer; }
a:hover { color: #000; text-decoration: none; }

/* p태그 */
p {  margin-bottom: 0; }

/* label */
label { margin-bottom: 0; }

/* dd */
dd { margin-bottom: 0; margin-left: 0; }

/* container */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl { padding-right: 0; padding-left: 0; margin-right: 0; margin-left: 0; }


/* hr */
hr { margin-top: 0; margin-bottom: 0; border: 0; border-top: 1px solid; }


/*
!* 선에 색만 있는 요소 (클래스명: box_eft_01) *!
.box_eft_00 { border: 1px solid #00695C; border-radius: 10px; color: #212121; }
.box_eft_01 { border: 1px solid #00695C; border-radius: 10px; color: #212121; }
.box_eft_01.active { border: 1px solid #00695C; border-radius: 10px; background-color: #00695C; color: #fff; }

!* 선 없고 배경 색상만 있는 요소 (클래스명: box_eft_02) *!
.box_eft_02 { border: 1px solid #00695C; border-radius: 10px; background-color: #00695C; color: #fff; }

!* 마우스 오버 했을 때 색상 + 클릭 했을 때 색상 *!
.box_eft_01:hover { border: 1px solid #00695C; background-color: #E0F2F1; color: #212121 }
.box_eft_01:focus-visible { border: 1px solid #00695C; background-color: #E0F2F1; color: #212121 }

!* 마우스 오버 했을 때 색상 + 클릭 했을 때 색상 *!
.box_eft_02:hover { border: 1px solid #00695C; background-color: #E0F2F1; color: #212121 }
.box_eft_02:focus-visible { border: 1px solid #00695C; background-color: #E0F2F1; color: #212121 }
*/


/* 선에 색만 있는 요소 (클래스명: box_eft_01) */
.box_eft_00 { border: 1px solid #dcc5df; border-radius: 10px; color: #212121; }
.box_eft_01 { border: 1px solid #dcc5df; border-radius: 10px; color: #212121; }
.box_eft_01.active { border: 1px solid #dcc5df; border-radius: 10px; background-color: #dcc5df; color: #fff; }

/* 선 없고 배경 색상만 있는 요소 (클래스명: box_eft_02) */
.box_eft_02 { border: 1px solid #dcc5df; border-radius: 10px; background-color: #dcc5df; color: #fff; }

/* 마우스 오버 했을 때 색상 + 클릭 했을 때 색상 */
.box_eft_01:hover { border: 1px solid #dcc5df; background-color: #f7cc6d; color: #212121 }
.box_eft_01:focus-visible { border: 1px solid #dcc5df; background-color: #f7cc6d; color: #212121 }

/* 마우스 오버 했을 때 색상 + 클릭 했을 때 색상 */
.box_eft_02:hover { border: 1px solid #dcc5df; background-color: #f7cc6d; color: #212121 }
.box_eft_02:focus-visible { border: 1px solid #dcc5df; background-color: #f7cc6d; color: #212121 }

/* #dcc5df */
/* #f7cc6d */

@media (min-width: 576px){
    .container, .container-sm { max-width: initial; }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm { max-width: initial; }
}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm { max-width: initial; }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl { max-width: initial; }
}


/* SCDream */
@font-face{
    font-family: 'SCDream';
    font-weight: 900;
    src: url('/FontFile/SCDream9.otf');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 800;
    src: url('/FontFile/SCDream8.otf');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 700;
    src: url('/FontFile/SCDream7.otf');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 600;
    src: url('/FontFile/SCDream6.otf');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 500;
    src: url('/FontFile/SCDream5.otf');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 400;
    src: url('/FontFile/SCDream4.otf');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 300;
    src: url('/FontFile/SCDream3.otf');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 200;
    src: url('/FontFile/SCDream2.otf');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 100;
    src: url('/FontFile/SCDream1.otf');
}