<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>아이디 찾기</title>

</head>
<body>
<div>
    <div>
        <div>
            <h3>아이디 찾기 검색결과</h3>
        </div>
        <div>
            <tbody>
            <tr th:each="id : ${id}">
                <td th:text="${id}"></td>
            </tr>
            </tbody>
            <p>
                <button type="button" onclick="location.href='/login/login.html'">로그인으로 이동</button>
                <button type="button" onclick="location.href='/'">메인으로</button>
            </p>
        </div>
    </div>
</div>
</body>
</html>