<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/22_ig031/src/main/resources/static/css/login/login.css">
    <script type="text/javascript" src="/22_ig031/src/main/resources/static/js/login/login.js"></script>
    <script type="text/javascript" src="/22_ig031/src/main/resources/templates/includeHtml.js"></script>
</head>
<body>
    <header data-include-path="/22_ig031/src/main/resources/templates/fixed/header/header.html"></header>

    로그인

    <footer data-include-path="/22_ig031/src/main/resources/templates/fixed/footer/footer.html"></footer>
</body>
</html>